<div>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>


<h2>Welcome <%= @current_user.name %></h2>
<br/>

<%= link_to "Logout", auth_logout_path %>